{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h1 class="text-center">About Us Page</h1>
  <p class="text-center">The aim of the project is to develop a system that could detect plagrism from the student assignment<br>
                          of vehicles passing through a checkpoint, then using that number fetch information<br>
                          about the vehicle from the database.</p>
  <p class="text-center">The purpose of the project is to minimize the chance of vehicle theft and<br>
                        maximizing the vehicle recovery in case if this unlawful act happens.</p>
</div>
<section>
    <h2>Development Team</h2>
    <hr>
    <div class="d-flex justify-content-center">
       <article>
            <div class="block"><img class="img-responsive" src="/static/img/male1.jpeg"></div>
            <div class="title">Haibat Hussain</div>
            <div class="description">Back End Developer and Project Manager</div>
        </article>
        <article>
            <div class="block"><img class="img-responsive" src="/static/img/male2.jpeg"></div>
            <div class="title">Muhammad Amir</div>
            <div class="description">Front Developer and Graphic Designer</div>
        </article>
    </div>
</section>

{% endblock content %}

