{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid jumbotron-img">
        <div class="container">
        <h2 class="display-4">{{current_user.name.upper()}}</h2>
        {% with user_cat = current_user.user_category %}
        {% if user_cat == 'Teacher' %}
            <p class="lead">Faculty Department of Computer Science</p>
        {% else %}
            <p class="lead">Department of Computer Science</p>
        {% endif %}
        {% endwith %}
        </div>
    </div>
    <!--  loop will be here       -->
    {% with user_category = current_user.user_category %}
    {% if user_category != 'Admin' %}
        <div class="card" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{current_user.course.upper()}}</h5>
              <a href="/detail_page/{{current_user.course}}/" class="btn btn-info btn-xs">Details</a>
            </div>
        </div>
    {% endif %}
    {% endwith %}
    <!--      loop ends        -->
</div>
{% endblock content %}




